*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;

  background:linear-gradient(
    45deg,
    #0f0c29,
    #302b63,
    #24243e,
    #00f2fe
  );

  background-size:400% 400%;
  animation:gradientMove 10s ease infinite;
}

@keyframes gradientMove{

  0%{
    background-position:0% 50%;
  }

  50%{
    background-position:100% 50%;
  }

  100%{
    background-position:0% 50%;
  }

}